<% instructor = f_s.object.instructor || User.new(name: "??", username: "??") %>
<tr class="form-group row">
  <%= f_s.hidden_field :_destroy, class: "destroy-field" %>
  <%= f_s.hidden_field :id %>

  <td><%= f_s.text_field :crn, class: 'form-control numeric' %></td>
  <td class="form-inline"><%= f_s.text_field :instructor, class: 'form-control',
    value: instructor.username  %>
  <span class="findUser pull-right">(<%= instructor.name %>)<span></td>
  <td class="col-sm-5"><%= f_s.text_field :meeting_time, class: 'form-control' %></td>
  <td class="col-sm-1">
    <a href="#" class="del-section-link del-section-ZXXZ btn btn-danger">Remove</a>
  </td>
</tr>
